
<div id="todoList">
	<h2>To Do</h2>
	<div id="addItemElement">
		<img src="add.png" id="addNewItemButton">
	</div>
	<div id="listItemsContainer">
		<%= render :partial => 'list_items/listContainer', :object => @listitems %>
	</div>
	
</div>

<div id="addItemPopup">
	<div>
		<img src="delete.png" id="closeButton" class="b-close">
		<p>Name your task</p>
		<p>
		<%= form_for ListItem.new do |f| %>
		    <%= f.text_field :label %>
		    <p>
		    <%= f.submit %>
		<% end %>
	</div>
</div>
