header, section {
	display: block;
}
body {
	font-family: 'Droid Serif';
}
h1, h2 {
	text-align: left;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #FCFCFC;
	font-size: 22;
}

.sortable{
	margin: auto;
	padding: 0;
	width: 300px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.sortable li{
	list-style: none;
	border: 1px solid #FFFFFF;
	background: #FCFCFC;
	font-family: 'Archivo Narrow', sans-serif;
	color: #1C1C1C;
	margin: 5px;
	padding: 5px;
	height: 22px;
}
.disabled {
	opacity: 0.5;
}
.sortable.grid li {
	line-height: 80px;
	float: left;
	width: 80px;
	height: 80px;
}
.sortable.list li
{
	float: none;
}
#todoList
{
	position: relative;
	margin: auto;
	width: 300px;
}
#addItemElement
{
	cursor: hand;
	position: absolute;
	top: 3px;
	right: 3px;
}
#todoListElement
{
	box-shadow: 0.5px 0.5px 9px #03864F;
	position: relative;
}
#handle
{
	cursor: move;
	position:absolute;
	float: left;
	width: 50px;
	height: 30px;
}
#deleteElement
{
	cursor: hand;
	position: absolute;
	top: 3px;
	right: 3px;
}
#itemText
{
	font-size: 16;
	text-align:center;
}
.highlight {
	background: #FEE25F;
}
li.sortable-placeholder {
	border: 1px dashed #FCFCFC;
	background: none;
}


#addItemPopup > div {
	width: 200px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	font-family: 'Archivo Narrow', sans-serif;
	border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #fff);
	background: -webkit-linear-gradient(#fff, #fff);
	background: -o-linear-gradient(#fff, #fff);
}

#closeButton {
	cursor: hand;
	position: absolute;
	top: 5px;
	right: 5px;
}